
#block-user-login
{
  font-size: 12px;
  float: left;
}

ul.menu li
{
  margin: 0 0 0 0; /* LTR */
}

.leftNav #block-system-navigation .content,
.leftNav .contextual-links-wrapper
{
  width: 100%;
  height: inherit;
}

.leftNav .region-sidebar-first #block-system-navigation .content
{
  min-height: 100px;
}

#BGWrapper .leftNav ul.menu li.expanded
{
background-image: none;
 list-style-image: none;
list-style-type: none;
}

#BGWrapper .leftNav ul.menu li.first.expanded a.active
{
	font:normal normal 1.05em "Times New Roman", Times, serif;
	text-transform: uppercase;
	background-color:#cecece;
	padding:3px;
}

#BGWrapper .leftNav ul.menu li.first.expanded a.active-trail.active
{
	font:normal normal 0.95em "Times New Roman", Times, serif;
	text-transform: none;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	padding:3px 3px 3px 15px;
	display:block;
	color:#8d0101;
	outline:none;
}

img.sprint
{
margin-right: 40px;
margin-left: 40px;
}

.views-field-field-bio-image
{
float: left;
margin-right: 15px;
margin-bottom: 15px;
}

.views-row-odd,
.views-row-even
{
   border-top: 1px solid #343434;
   padding: 15px;
   clear: both;
}

.views-field-field-email
{
float: left;
width: 80%;
}

.views-field-field-ext
{
clear: both;
}
#block-user-login .content
{
 width: 100px;
}


img.telecomHeader
{
margin-left: 50px;
}

table.pin_results
{
  font-size: 10px;
}

table.outside_results
{
  width: 100%;
  font-size: 10px;
}

table.outside_results input
{
  width: 80%;
  font-size: 10px;
}

#pin_search_wrap,
#work_order_wrap
{
  font-weight: bold;
  line-height: 25px;
  height: 250px;
}

#pin_search_wrap input
{
  float: right;
  margin-right: 300px;
  margin-bottom: 5px;
  width: 150px;
}

#pin_search_wrap select,
{
  float: right;
  margin-right: 300px;
  width: 150px;
}
#work_order_wrap select
{
  float: right;
  margin-right: 55px;
  width: 300px;
}

#work_order_wrap textarea
{
  float: right;
  margin-right: 55px;
  height: 100px;
  width: 295px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#pin_search_wrap .button
{
 margin-top: 15px;
 margin-bottom: 15px;
}

#work_order_wrap label
{
 float: left;
}

#work_order_wrap input,
#work_order_wrap select.mailstop
{
  float: right;
  margin-right: 200px;
  margin-bottom: 5px;
  width: 150px;
}

#work_order_breadcrumb
{
  width: 500px;
  margin-bottom: 25px;
}

#work_order_breadcrumb a
{
  margin-left: 10px;
  margin-right: 10px;
}

label.workLabel{
  margin-bottom: 15px;
}

input.buttonSmall
{
  margin-left: 15px;
}

img.workOrder
{
    padding:1px;
    border:1px solid #363636;
    width: 400px;
    margin: 5px;
}

#work_order_note
{
    margin: 10px;
}

#work_order_help
{
    float: right;
    margin-right: 25px;
    font-size: 14px;
}